@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    min-height: 1000px;
}

#howitwork{
    position: relative;
    margin: 50px 0;
}


.images{
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .images{
        position: static;
        display: table;
        margin: 0 10px;
    }

    .images img {
        height: 350px;
        width: 300px;
        object-fit: cover;
        object-position: center;
    }

    .bungkus{
        display: flex;
        position: relative;
        overflow: scroll;
    }

}

.five{
    width: 253px;
    height: 252px;
    left: 12px;
    top: 30px;  
}

.six{
    width: 253px;
    height: 347px;
    left: 292px;
    top: 125px;
}

.seven{
    width: 253px;
    height: 316px;
    left: 12px;
    top: 310px;
}

.desc{
    width: 350px;
    margin-bottom: 56px;
}